@model OnlineBankingSystem.Models.Transaction

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransactionId" />
            <div class="form-group">
                <label asp-for="FromAccountNumber" class="control-label"></label>
                <input asp-for="FromAccountNumber" class="form-control" />
                <span asp-validation-for="FromAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToAccountNumber" class="control-label"></label>
                <input asp-for="ToAccountNumber" class="form-control" />
                <span asp-validation-for="ToAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionTime" class="control-label"></label>
                <input asp-for="TransactionTime" class="form-control" />
                <span asp-validation-for="TransactionTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionAmount" class="control-label"></label>
                <input asp-for="TransactionAmount" class="form-control" />
                <span asp-validation-for="TransactionAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionStatus" class="control-label"></label>
                <input asp-for="TransactionStatus" class="form-control" />
                <span asp-validation-for="TransactionStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionMessage" class="control-label"></label>
                <input asp-for="TransactionMessage" class="form-control" />
                <span asp-validation-for="TransactionMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    
    <a asp-action="Dashboard" asp-controller="Users" class="btn btn-primary">Back to DashBoard</a>
</div>

